*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style-type: none;
    font-family: Baskerville Old Face;
    box-sizing: border-box;

}

main{
    max-width: 1500px;
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}


main .card{
    height:  200px;
    border: 1px solid lightgray;
    margin: 20px;
    display: flex;
}

main .card .images{
    width: 20%;
}

main .card .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .card .caption{
  line-height: 3em;
  margin-left: 30px;
  position: relative;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .card .caption p{
    font-size: 1.2rem;
}

del{
    text-decoration: line-through;
}

main .card .caption .price{
    position: absolute;
    top: 5%;
    right: 5%;
}

main .card .caption button{
    background-color: rgb(37, 29, 29);
    color: white;
    padding: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 2em;
    font-weight: bold;
    width: 30%;
}